@import "./variables";
@import "./mixin";
@import "../../ui-design/button/index";

body,
html {
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
  display: flex;
}
.menu {
  flex: 4;
  border-right: $border-width $border-color solid;
  margin: 0;
}
.content {
  flex: 20;
  padding: 24px;
}
